<h1>Apprentice Registration</h1>

<%= link_to "Master Registration", new_master_path %>

<%= form_for(:user, url: users_path) do |f| %>
  <%= f.label :stage_name, "Stage Name" %>
  <%= f.text_field :stage_name %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>

  <%= f.label :password, "Password" %>
  <%= f.text_field :password %>
  
  <%= f.fields_for :master do |t| %>
    <% @masters.each do |master| %>
    
      <li><%= label :master_id, m.stage_name %></li>
      <li><%= f.radio_button :master_id, m.id %></li>
    <%= t.text_field :name %>
  <% end %>
  

  <% if false %>
  <ul> 
    <% form_for @user.master do |m| %>
      <li><%= label :master_id, m.stage_name %></li>
      <li><%= f.radio_button :master_id, m.id %></li>
    <% end %>
  </ul>
  <% end %>
  <%= f.submit %>
<% end %>


