<h1>Apprentice Registration</h1>

<%= link_to "Master Registration", new_master_path %>

<%= form_for(:user, url: users_path) do |f| %>
  <%= f.label :stage_name, "Stage Name" %>
  <%= f.text_field :stage_name %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>

  <%= f.label :password, "Password" %>
  <%= f.text_field :password %>

      <% @masters.each do |master| %>
        <input name="master_id" value="<%= master.id %>" type="radio" id="<%= master.id %>" />
        <label for="<%= master.id %>"><%= master.stage_name %></label>
      <% end %>

  <%= f.submit %>
<% end %>


