<h1>Master Registration</h1>

<% if @errors %>
  <%= render 'shared/errors.html.erb', locals: {errors: @errors} %>
<% end %>

<%= form_for @user, url: users_path do |f| %>
  <%= f.label :stage_name, "Stage Name" %>
  <%= f.text_field :stage_name %>

  <%= f.label :secret, "Secret Key" %>
  <%= f.text_field :secret %>

  <%= f.label :email, "Email" %>
  <%= f.text_field :email %>

  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>

  <%= f.submit %>
<% end %>

