<%= form_for @illusion do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :url %>
  <%= f.text_field :url %>

  <%= f.label :tags %>
  <%= f.fields_for :tags do |t| %>
    <%= t.text_field :name %>
  <% end %>
  <p> <%= @illusion.creator.stage_name %></p>
  <% if @illusion.creator.a_master == current_user %>

    <%= f.label :approval %>
    <%= f.check_box :approval, checked: false %>
  <% end %>
  <!--   added checkboxes in case they change their mind they can untick
  whereas radio buttons are typically used for multiple options and switching them 
  to undo one
  like multiple choice not or true false, if there's two options
  -->
  <%= f.label :intense, "Intense? (this content is only available for master magicians)" %>
  <%= f.check_box :intense, checked: false %>
  
  <%= f.submit %>
<% end %>