<h1><%= @illusion.title  %></h1>

<% if current_user.master == false  %>
<!-- add this when illusion migration adds column approved -->
<!-- && @illusion.approved == false -->
  <p> Your new submission is pending...</p>
<% end %>
    Title: <%= @illusion.title %>
    Url: <%= link_to @illusion.url, @illusion.url %>
    Tags:

<% if @errors %>
  <%= render 'shared/errors.html.erb', locals: {errors: @errors} %>
<% end %>


<%= button_to "Star", starrings_path(current_user.id, @illusion.id)  %>
