<!DOCTYPE html>
<html>
  <head>
    <title>Voila</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if session[:user_id] == nil %>
      <%= link_to "Login", new_session_url %>
      <%= link_to "Register", new_user_url %>
    <% else %>
      <%= link_to "Logout", session_path(session), method: :delete %>
    <% end %>
    <%= link_to "Search", illusions_path %>
    <%= yield %>
  </body>
</html>
